body, html{
	margin: 0;
	height: 100%;
}

/* Navegación */
.main-header{
	height: 110px;
	background: rgba(232,47,59,0.85);
	margin: 0px auto;
	text-align: center;
}

.main-nav{
}

.logo{
	
}

.img-logo{
	width:25%;
	height:25%;
}

.main-nav ul li{
width: 150px;
height: 100px;
list-style: none;

	/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #C8CBCF 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #C8CBCF 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #C8CBCF 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #C8CBCF));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #C8CBCF 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to top, #FFFFFF 0%, #C8CBCF 100%);
}


/* Secciones Main */

/* Wrapper */
.main-content{

}

/* Nosotros */
.main-info{
	height: 530px;
	background: rgba(93,93,195,0.85);
}
/* High Command */
.main-highcommand{
	height: 530px;
	background: rgba(78,208,137,0.85);
}
/* Comites */
.main-comites{
	height: 700px;
	background: rgba(162,172,54,0.85);
}

/* Contacto */
.main-contacto{
	height: 230px;
	background: rgba(191,112,52,0.85);
}

/* Pagina Agenda */

/* wrapper */
.agenda-content{
	
}

.agenda-seccion{
	
}


/* Pagina Descarga */

/* wrapper */
.descarga-content{
	width: 100%;
	height: 100%;
	background:white;
}

.descarga-seccion{
	height: 100%;
	width: 900px;
	margin: 18px auto;
	padding: 0;

}

.descarga-topicos{
	margin: 0 auto;
	padding: 0;
	width: 904px;
	list-style: none;
	font-family: "Helvetica";
	display: inline-block;
	background: #1e1d1d
}

.descarga-topicos a{
	font-family: "Helvetica";
	color:black;
	text-decoration: none;
	height:50px;
	width:452px;
}



.descarga-topicos li{
	margin: 0px 1px 1px 0px;
	width: 225px;
	height:50px;
	background:white;
	float: left;
	position: relative;
	text-align: center;
}


.comite{
	color:white;
	position:absolute;
	float:left;
	padding: 0px;
	text-align: center;
	margin: 0;
	height:50px;
	width:452px;
	background:#3b3a3a;
	z-index: 1;
}

.prueba {
	float:left;
	padding: 0;
	margin: 0;
	display: inline-block;
	z-index: 100;
}

.comite:hover{
}
.topico{
	float:left;
	padding: 0;
	margin: 0;
	height:50px;
	width:452px;
}






/* Pagina Patrocinio */

/* wrapper */
.patrocinio-content{
	
}

.patrocinio-seccion{

}

